.btn-outline-success {
    color: white;
    border: 1px solid white;
}
.form-control::placeholder {
    font-style: italic !important;
}

.page-nav .fa {
    transform: rotate(-90deg);
}
.page-nav i, .page-nav span {
    display: inline-block;
    vertical-align: middle;
}
.page-nav span {
    margin-right: 10px;
}
