body {
    background-color: rgb(248,248,248);
}
.nav-link {
    color: white !important;
}
.home-carousel {
    background-color: white;
    height: 70vh;
    overflow: hidden;
    box-shadow: -2px 1px 5px -1px rgba(0,0,0,.4);
}
.carousel, .carousel-inner, .carousel-item {
    height: 100%;
}
.carousel-caption {
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 -5px 80px 50px rgba(0,0,0,.5);
}
.carousel-caption p {
    width: 60%;
    margin: auto;
}

.content {
    margin: 0;
    padding: 0 5%;
}
.content h2 {
    margin: 0;
    padding-top: 40px;
    text-align: center;
}
.featured-businesses {
    padding: 30px;
}

.business {
    background-color: white;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    box-shadow: .5px .5px 4px -1px rgba(0,0,0,.4);
}
.business a {
    text-decoration: none;
    color: black;
}

.business-img, .business img {
    width: 100%;
}
.business-img {
    height: 200px;
    overflow: hidden;
    border: 8px solid rgba(40,80,120);
    border-radius: 5px 5px 0 0;
}
.description {
    padding: 10px;
}
.description h5 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .carousel-caption {
        background-color: rgba(255, 255, 255);
        box-shadow: none;
        color: rgba(40, 80, 120);
    }
    .carousel-caption p {
        width: 94%;
    }
}

@media screen and (max-width: 500px) {
    .content {
        padding: 0 4%;
    }
    .featured-businesses {
        padding: 0;
    }
    .business {
        width: 100%;
    }
}
