.cover {
    background-image: url('../img/content/women.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.tint {
    background-color: rgba(40,80,120,.85);
    position: relative;
    height: 100%;
}
.login-area {
    position: absolute;
    background-color: rgba(40,80,120,.4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,.4);
}
.logo-div img {
    width: 40%;
}
.form-container {
    border-top: 1px solid white;
}
.login-footer a {
    color: white;
}


@media screen and (max-width: 500px) {
    .login-area {
        width: 90%;
    }
}
