.brand-bg-color {
    background-color: rgb(40,80,120);
}
.navbar-brand {
    width: 100px;
}
.navbar-toggler {
    border: 1px solid white !important;
}
.fa-bars {
    font-size: 25px;
    color: white;
}
.dropdown-menu {
    background-color: rgb(40,80,120);
    border: none;
    transition: all .4s ease-in-out;
}
.dropdown-item {
    color: white;
}

/* ----------------------- */
.row {
    align-items: center;
}
.btn-outline-success {
    color: white;
    border: 1px solid white;
}
.form-control::placeholder {
    font-style: italic !important;
}
/* -------------forms----------- */
label {
    color: white;
    font-size: 1.2rem;
}
.form-input, .form-btn {
    padding: 5px 0;
    border-radius: 5px;
}
.form-input {
    display: block;
    width: 100%;
    font-size: 1.2rem !important;
    font-weight: bold;
    color: rgb(40,80,120);
    text-indent: 5px;
    transition: all .5s ease-in-out !important;
}
.form-input::placeholder {
    font-style: italic;
    font-weight: 400;
}
.form-input:focus {
    text-indent: 15px !important;
}
.form-btn {
    background-color: transparent;
    width: 150px;
    font-size: 1.2rem !important;
    color: white !important;
    cursor: pointer;
    border: 1px solid white;
}
.form-btn:hover {
    background-color: white !important;
    font-weight: bold !important;
    color: rgb(40,80,120) !important;
}
/* --------------------- */
.content {
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
}
.content h2 {
    margin: 0;
    padding-top: 40px;
    text-align: center;
}
.view {
    padding: 15px 0;
    text-align: center;
}
.view button {
    width: 150px;
    background-color: rgb(40,80,120);
    padding: 5px 0;
    color: white;
    border: 1px solid rgb(40,80,120);
    border-radius: 3px;
    box-shadow: .5px .5px 4px -1px rgba(0,0,0,.4);
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.view button:hover {
    background-color: white;
    font-weight: bold;
    color: rgb(40,80,120);
}.big-btn button {
    margin-bottom: 50px;
}
.big-btn button {
    width: 200px;
    padding: 10px 0;
    border-radius: 20px;
}
footer {
    background-color: black;
    padding: 50px 15px;
    color: rgb(170,170,170);
}
.footer h5 {
    text-align: center;
}
